body
{
	background-color: #9A958D;
	/*use https://color.adobe.com/create to get colors*/
	/*refer to https://www.w3schools.com for more info about html and css*/
}
h1
{
	color: white;
	font-style: italic;
	text-align: center;
	font-size: 60px;
	padding: 20;
}
h2
{
	color: #AD0000;
	text-align: center;
	font-size: 40px;
	padding: 20;
}
p
{
	font-family: "Times New Roman";
	font-size: 20px;
	color: white;
}
a:link
{
	color: red;
}
a:visited
{
	color: black;
}
a:hover
{
	color: hotpink;
}
a:active
{
	color: blue;
}
.navigation-bar
{
  display: flex;
  background-color: #7F7971;
  justify-content: center;
  align-items: center;
}
.navigation-bar > div 
{
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 30px;
}
.row
{
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
}
.left-side
{
	flex: 20%;
	background-color: black;
}
.right-side
{
	flex: 20%;
	background-color: black;
}
.main
{
	flex: 60%;
	background-color: grey;
	padding: 20px;
}
.footer
{
	padding: 20px;
	text-align: center;
	background: black;
	color: white;
}
